[Unit]
Description=Prometheus
Documentation=https://prometheus.io
Requires=network.target
After=network.target

[Service]
User=root
Type=simple
ExecStart=/bin/bash -c '/opt/prometheus/prometheus \
    --config.file="/etc/prometheus/prometheus.yml" \
    --web.listen-address="0.0.0.0:9090" \
    --web.enable-lifecycle \
    --storage.tsdb.path="/var/lib/prometheus/data/"'
ExecStop=/opt/prometheus/prometheus
PIDFile=/var/run/prometheus/prometheus.pid

[Install]
WantedBy=default.target

